*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#0d0d0d;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(45deg,#111,#1c1c1c);
}

.hero h2{
font-size:50px;
}

.btn{
margin-top:20px;
padding:12px 25px;
background:#ff004f;
border-radius:30px;
color:white;
text-decoration:none;
}
.portfolio{
display:flex;
gap:20px;
padding:40px;
flex-wrap:wrap;
justify-content:center;
}

.work{
width:300px;
border-radius:10px;
transition:0.4s;
}

.work:hover{
transform:scale(1.05);
}
.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
padding:15px;
border-radius:50%;
color:white;
text-decoration:none;
}
body{
background:linear-gradient(-45deg,#0f0f0f,#1a1a1a,#111,#000);
background-size:400% 400%;
animation:bgMove 10s ease infinite;
color:white;
}

.services{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
padding:60px;
}

.card{
padding:40px;
width:250px;
text-align:center;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
border-radius:20px;
transition:0.4s;
}

.card:hover{
transform:translateY(-10px);
}
.work{
width:300px;
border-radius:10px;
transition:0.4s;
box-shadow:0 0 0 transparent;
}

.work:hover{
transform:scale(1.05);
box-shadow:0 0 25px #ff004f;
}
html{
scroll-behavior:smooth;
}
.portfolio{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:40px;
}

.portfolio img{
width:100%;
border-radius:10px;
transition:0.4s;
}

.portfolio img:hover{
transform:scale(1.05);
}
@media(max-width:1000px){
.portfolio{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:600px){
.portfolio{
grid-template-columns:1fr;
}
}
#popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
display:none;
justify-content:center;
align-items:center;
z-index:999;
}

#popup img{
max-width:90%;
max-height:90%;
border-radius:10px;
}

#popup span{
position:absolute;
top:30px;
right:40px;
font-size:30px;
cursor:pointer;
color:white;
}

.section-title{
text-align:center;
font-size:36px;
margin:60px 0 20px;
color:#ff004f;
letter-spacing:1px;
}

.main-title{
text-align:center;
font-size:40px;
margin-top:50px;
}

.categories{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
padding:60px;
}

.cat{
padding:40px 60px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
border-radius:20px;
text-decoration:none;
color:white;
font-size:22px;
transition:0.4s;
}

.cat:hover{
transform:translateY(-10px);
background:#ff004f;
}
.main-title{
text-align:center;
font-size:40px;
margin-top:50px;
}

.categories{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
padding:60px;
}

.cat{
padding:40px 60px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
border-radius:20px;
text-decoration:none;
color:white;
font-size:22px;
transition:0.4s;
}

.cat:hover{
transform:translateY(-10px);
background:#ff004f;
}
#loader{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#000;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
}

#loader h1{
font-size:40px;
color:#ff004f;
animation:zoom 1.5s infinite alternate;
}

@keyframes zoom{
from{transform:scale(1);}
to{transform:scale(1.2);}
}
body{
animation:fadeIn 1s;
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}
.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 60px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(12px);
z-index:1000;
transition:0.4s;
}

.navbar a{
color:white;
text-decoration:none;
margin-left:25px;
font-size:18px;
transition:0.3s;
}

.navbar a:hover{
color:#ff004f;
}
body{
padding-top:80px;
}
.about{
display:flex;
align-items:center;
justify-content:center;
gap:60px;
padding:80px;
flex-wrap:wrap;
}

.about-img img{
width:300px;
border-radius:20px;
}

.about-text{
max-width:500px;
}

.about-text h2{
font-size:40px;
margin-bottom:20px;
color:#ff004f;
}

.about-text p{
line-height:1.6;
margin-bottom:20px;
}

.about-text ul{
list-style:none;
}

.about-text li{
margin-bottom:10px;
}
.services{
padding:100px 40px;
text-align:center;
}

.service-container{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
margin-top:50px;
}

.service-card{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(15px);
border-radius:20px;
padding:50px 30px;
transition:0.4s;
position:relative;
overflow:hidden;
}

.service-card i{
font-size:40px;
color:#ff004f;
margin-bottom:20px;
}

.service-card h3{
margin-bottom:15px;
font-size:22px;
}

.service-card:hover{
transform:translateY(-15px) scale(1.03);
box-shadow:0 0 30px #ff004f;
}

.service-card::before{
content:"";
position:absolute;
top:0;
left:-100%;
width:100%;
height:100%;
background:#ff004f(120deg,transparent,
rgba(176, 3, 3, 0.887),
transparent);
transition:0.6s;
}

.service-card:hover::before{
left:100%;
}
.contact{
padding:80px 40px;
text-align:center;
}

.contact-container{
display:flex;
justify-content:center;
gap:50px;
flex-wrap:wrap;
margin-top:40px;
}

.contact-info{
max-width:350px;
text-align:left;
}

.contact-info h3{
margin-bottom:15px;
color:#ff004f;
}

.whatsapp{
display:inline-block;
margin-top:15px;
padding:12px 20px;
background:#25D366;
color:white;
text-decoration:none;
border-radius:8px;
}

.contact-form{
display:flex;
flex-direction:column;
gap:15px;
width:350px;
}

.contact-form input,
.contact-form textarea{
padding:15px;
border:none;
border-radius:8px;
background:#111;
color:white;
}

.contact-form button{
padding:15px;
border:none;
background:#ff004f;
color:white;
border-radius:8px;
cursor:pointer;
transition:0.3s;
}

.contact-form button:hover{
background:#e60045;
}
@media(max-width:700px){
.contact-container{
flex-direction:column;
align-items:center;
}
}
.instagram{
padding:80px 20px;
text-align:center;
}

.insta-box{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(12px);
padding:50px;
border-radius:20px;
display:inline-block;
transition:0.4s;
}

.insta-box i{
font-size:50px;
color:#E1306C;
margin-bottom:20px;
}

.insta-box a{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#E1306C;
color:white;
text-decoration:none;
border-radius:8px;
}

.insta-box:hover{
transform:translateY(-10px);
box-shadow:0 0 25px #E1306C;
}