*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

html{
scroll-behavior:smooth;
}

/* REMOVE BLUE LINKS */
a{
color:white;
text-decoration:none;
}

a:visited{
color:white;
}

body{
background:linear-gradient(-45deg,#0f0f0f,#1a1a1a,#111,#000);
background-size:400% 400%;
animation:bgMove 12s ease infinite;
color:white;
padding-top:80px;
}

@keyframes bgMove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

/* NAVBAR */
.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 60px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(12px);
z-index:1000;
}

.navbar a{
margin-left:25px;
transition:0.3s;
}

.navbar a:hover{
color:#ff004f;
}

/* HERO */
.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h2{
font-size:50px;
}

.btn{
margin-top:20px;
padding:12px 25px;
background:#ff004f;
border-radius:30px;
}

/* WORK CATEGORY */
.main-title{
text-align:center;
font-size:40px;
margin-top:50px;
}

.categories{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
padding:60px;
}

.cat{
padding:40px 60px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
border-radius:20px;
font-size:22px;
transition:0.4s;
}

.cat:hover{
transform:translateY(-10px);
background:#ff004f;
}

/* ABOUT */
.about{
display:flex;
justify-content:center;
gap:60px;
padding:80px;
flex-wrap:wrap;
}

.about-img img{
width:300px;
border-radius:20px;
}

.about-text{
max-width:500px;
}

.about-text h2{
color:#ff004f;
margin-bottom:20px;
}

/* PORTFOLIO */
.portfolio{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:40px;
}

.portfolio img{
width:100%;
border-radius:10px;
transition:0.4s;
}

.portfolio img:hover{
transform:scale(1.05);
box-shadow:0 0 20px #ff004f;
}

/* LOADER */
#loader{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#000;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
transition:0.6s;
}

#loader.hide{
opacity:0;
pointer-events:none;
}

/* RESPONSIVE */
@media(max-width:1000px){
.portfolio{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:600px){
.portfolio{
grid-template-columns:1fr;
}
}
